{% load i18n %}{% autoescape off %}
Bonjour {{ user.get_full_name|default:user.username }},

Vous recevez cet email parce que vous avez demandé une réinitialisation de mot de passe pour votre compte sur {{ site_name }}.

Veuillez cliquer sur le lien suivant et choisir un nouveau mot de passe :

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur, au cas où vous l'auriez oublié : {{ user.get_username }}

Merci d'utiliser notre plateforme !

L'équipe {{ site_name }}
{% endautoescape %}
